.widget .title-bar {
  width: calc(100% - 12px);
  height: 32px;
  background-image: linear-gradient(90deg, #1c32af, #417fe3);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 6px;
  font-size: 0.6em;
}

.container {
  display: flex;
  height: 100%;
}

.left-side {
  width: 60%;
}

.right-side {
  height: 100%;
}

.widget {
  background-color: #bebebe;
  box-shadow: inset -3px -3px #000000, inset 3px 3px #bebebe,
    inset -6px -6px #858585, inset 6px 6px #ebebeb;
  padding: 9px;
  margin: 6px;
}

.widget-container {
  padding: 6px;
}

.cat-container {
  position: relative;
  display: flex;
  justify-content: center;
}

.cat-credits {
  color: white;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.cat-credits-div {
  display: none;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.25);
  color: white;
  font-size: 0.75em;
  padding: 6px;
  width: 80%;
  bottom: 25px;
  right: 10px;
}

.cat-credits:hover + .cat-credits-div {
  display: block;
}

@media screen and (max-width: 850px) {
  .container {
    flex-direction: column;
    overflow: auto;
    height: 75%;
  }

  .left-side,
  .right-side {
    width: 100%;
    height: auto;
  }

  .widget .title-bar {
    font-size: 1em;
  }
}
