.warning {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: black;
  position: fixed;
  height: 110%;
  width: 110%;
  z-index: 10000;
}

.mobile-warning {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: black;
  position: fixed;
  height: 110%;
  width: 100%;
  z-index: 10000;
}

.mobile-warning p {
  max-width: 90%;
}

.warning-btn {
  padding: 10px;
  background-color: white;
  color: black;
  cursor: pointer;
}

.container {
  padding: 24px;
  display: flex;
  justify-content: space-between;
}

#map {
  z-index: 0;
}

.win-active {
  z-index: 2;
}

.travel-map-container {
  padding: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.guestbook-container {
  padding: 12px;
  height: 75%;
}

.message-container {
  width: 47.5%;
  box-shadow: inset -1px -1px #000000, inset 1px 1px #bebebe,
    inset -2px -2px #858585, inset 2px 2px #ebebeb;
  padding: 3px;
  height: fit-content;
}

.fun-stuff-container {
  display: flex;
  height: 100%;
}

.left-side {
  max-width: 65%;
  margin-top: 14px;
  display: flex;
  flex-direction: column;
  overflow: auto;
  height: 50vh;
}

.intro-title {
  margin: 0;
  font-weight: 700;
  font-size: 2.5em;
}

.intro-info {
  margin: 0;
  font-weight: 700;
  font-size: 1.5em;
}

.interests-title {
  font-weight: 600;
}

.interests {
  font-weight: 600;
}

.interests-list {
  font-size: 1.25em;
}

.right-side {
  max-width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 14px;
}

.pfp-img {
  max-width: 80%;
  height: auto;
  border-radius: 50%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 20px;
  transition: transform 0.1s ease-in-out;
}

.pfp-img:hover {
  transform: scale(1.05);
}

.socials-list {
  padding: 0;
  margin: 0;
}

.gh-profile-url {
  color: black;
  text-decoration: black wavy underline;
}

.socials-item {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  font-weight: 600;
}

.gh-user::before {
  content: url("../assets/github.svg");
  margin-right: 15px;
}

.slack-user::before {
  content: url("../assets/slack.svg");
  margin-right: 15px;
}

.email-addr::before {
  content: url("../assets/mail.svg");
  margin-right: 15px;
}

@media screen and (max-width: 850px) {
  body {
    background-color: black;
    overflow: hidden;
  }

  .warning {
    display: none;
  }

  .mobile-warning {
    display: flex;
  }

  .container {
    flex-direction: column;
    justify-content: start;
    height: 75%;
    padding-bottom: 48px;
  }

  .left-side {
    max-width: 100%;
    height: 100%;
  }

  .right-side {
    max-width: 100%;
    flex-direction: row;
    justify-content: space-between;
  }

  .pfp-img {
    max-width: 40%;
  }

  .socials-list {
    text-align: right;
  }

  .socials-item {
    display: inline-block;
  }

  .gh-user::before {
    margin-right: 10px;
  }

  .slack-user::before {
    margin-right: 10px;
  }

  .email-addr::before {
    margin-right: 10px;
  }

  .intro-title {
    font-size: 2em;
  }
}
