html {
  height: 100%;
}

body {
  background-color: #3db1c8;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-family: "IBM Plex Mono", sans-serif;
}

.main-window {
  width: 60%;
  min-height: 80%;
  height: auto;
  background-color: #bebebe;
  box-shadow: inset -3px -3px #000000, inset 3px 3px #bebebe,
    inset -6px -6px #858585, inset 6px 6px #ebebeb;
  padding: 9px;
  display: flex;
  margin-bottom: 36px;
  flex-direction: column;
}

.title-bar {
  width: calc(100% - 12px);
  height: 64px;
  background-image: linear-gradient(90deg, #1c32af, #417fe3);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 6px;
}

.title {
  font-size: 2em;
  margin-left: 10px;
  color: white;
  font-weight: 700;
}

.title-bar-buttons {
  display: flex;
}

.minimize-and-window {
  display: flex;
}

.minimize-btn,
.window-btn {
  border-bottom: 3px solid black;
  border-right: 3px solid black;
  cursor: pointer;
}

.close-btn {
  margin-left: 9px;
  cursor: pointer;
}

.minimize-btn-small,
.window-btn-small,
.close-btn-small {
  display: none;
}

.nav-btn {
  width: 22.5%;
  height: 64px;
  display: flex;
  align-items: center;
  background-color: #bebebe;
  margin-top: 6px;
  padding-left: 16px;
  color: black;
  text-decoration: none;
  font-weight: 700;
  font-size: 1.2em;
  box-shadow: inset -3px -3px #000000, inset 3px 3px #ebebeb,
    inset -6px -6px #858585, inset 6px 6px #cecece;
}

.nav-btn:active,
.nav-active {
  background-color: #ebebeb;
  box-shadow: inset -3px -3px #ebebeb, inset 3px 3px #000000,
    inset -6px -6px #d9d9d9, inset 6px 6px #858585;
}

nav {
  display: flex;
  justify-content: space-between;
}

.taskbar {
  position: fixed;
  bottom: 0;
  height: 36px;
  background-color: #bebebe;
  width: 100%;
  box-shadow: inset 0px 2px #cecece, inset 0px 4px #ebebeb;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 3px;
  z-index: 100;
}

.startbutton {
  box-shadow: inset -2px -2px #000000, inset 2px 2px #ebebeb,
    inset -4px -4px #858585, inset 4px 4px #cecece;
  width: 64px;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 5px;
}

.active {
  background-color: #ebebeb;
  box-shadow: inset -2px -2px #ebebeb, inset 2px 2px #000000,
    inset -4px -4px #d9d9d9, inset 4px 4px #858585;
}

.local-time {
  padding: 1px 10px 1px 10px;
  margin-right: 5px;
  box-shadow: inset -3px -3px #ebebeb, inset 3px 3px #858585;
  height: 75%;
}

.commit-text {
  font-style: italic;
  color: #555555;
}

.start-menu {
  position: fixed;
  left: 0;
  bottom: 36px;
  padding: 9px;
  background-color: #bebebe;
  box-shadow: inset -3px -3px #000000, inset 3px 3px #bebebe,
    inset -6px -6px #858585, inset 6px 6px #ebebeb;
  max-height: 75%;
  width: 20%;
  z-index: 100;
}

#start-menu-overlay {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.25);
  width: 100%;
  height: 100%;
  z-index: 10;
  top: 0;
  display: none;
}

.title-container {
  writing-mode: sideways-lr;
  background-image: linear-gradient(0deg, #1c32af, #417fe3);
  padding: 9px;
}

.start-title {
  color: white;
  font-size: 1.5em;
  margin: 0;
}

.new-site-text {
  position: absolute;
  left: 0;
  top: 0;
  margin: 10px;
  color: white;
  text-shadow: 1px 1px 3px black;
  background: rgba(0, 0, 0, 0.25);
  padding: 5px;
  border-radius: 10px;
}

@media screen and (max-width: 850px) {
  nav {
    overflow-x: auto;
    padding: 6px;
    height: auto;
    min-height: 48px;
  }

  .nav-btn {
    width: auto;
    padding: 0 10px 0 10px;
    font-size: 1em;
    white-space: nowrap;
    height: 48px;
    margin: 0;
    margin-right: 6px;
  }

  .title {
    font-size: 1.25em;
  }

  .title-bar {
    height: 32px;
  }

  .main-window {
    width: 100%;
    height: 100%;
    margin: 24px;
  }

  .minimize-btn,
  .window-btn,
  .close-btn {
    display: none;
  }

  .minimize-btn-small,
  .window-btn-small {
    display: block;
    border-bottom: 1.5px solid black;
    border-right: 1.5px solid black;
  }

  .close-btn-small {
    display: block;
    margin-left: 9px;
  }

  .commit-text {
    font-size: 0.75em;
  }

  .start-menu {
    width: 75%;
  }

  .overlay-active {
    display: block !important;
  }

  .new-site-text {
    display: none;
  }
}
