html {
  height: 100%;
}

body {
  background-color: #3db1c8;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-family: "IBM Plex Mono", sans-serif;
}

.main-window {
  width: 60%;
  min-height: 80%;
  height: auto;
  background-color: #bebebe;
  box-shadow: inset -3px -3px #000000, inset 3px 3px #bebebe,
    inset -6px -6px #858585, inset 6px 6px #ebebeb;
  padding: 9px;
  display: flex;
  margin-bottom: 36px;
  flex-direction: column;
}

.title-bar {
  width: calc(100% - 12px);
  height: 64px;
  background-image: linear-gradient(90deg, #1c32af, #417fe3);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 6px;
}

.title {
  font-size: 2em;
  margin-left: 10px;
  color: white;
  font-weight: 700;
}

.title-bar-buttons {
  display: flex;
}

.minimize-and-window {
  display: flex;
}

.minimize-btn,
.window-btn {
  border-bottom: 3px solid black;
  border-right: 3px solid black;
  cursor: pointer;
}

.close-btn {
  margin-left: 9px;
  cursor: pointer;
}

.nav-btn {
  width: 22.5%;
  height: 64px;
  display: flex;
  align-items: center;
  background-color: #bebebe;
  margin-top: 6px;
  padding-left: 16px;
  color: black;
  text-decoration: none;
  font-weight: 700;
  font-size: 1.3em;
  box-shadow: inset -3px -3px #000000, inset 3px 3px #ebebeb,
    inset -6px -6px #858585, inset 6px 6px #cecece;
}

.nav-btn:active,
.nav-active {
  background-color: #ebebeb;
  box-shadow: inset -3px -3px #ebebeb, inset 3px 3px #000000,
    inset -6px -6px #d9d9d9, inset 6px 6px #858585;
}

nav {
  display: flex;
  justify-content: space-between;
}

.taskbar {
  position: fixed;
  bottom: 0;
  height: 36px;
  background-color: #bebebe;
  width: 100%;
  box-shadow: inset 0px 2px #cecece, inset 0px 4px #ebebeb;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 3px;
}

.startbutton {
  box-shadow: inset -3px -3px #000000, inset 3px 3px #ebebeb,
    inset -6px -6px #858585, inset 6px 6px #cecece;
  width: 64px;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-left: 5px;
}

.local-time {
  padding: 1px 10px 1px 10px;
  margin-right: 5px;
  box-shadow: inset -3px -3px #ebebeb, inset 3px 3px #858585;
  height: 75%;
}
