.container {
  padding: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.leaflet-shadow-pane {
  display: none !important;
}

.modal {
  display: none;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.25);
  align-items: center;
  justify-content: center;
}

.modal-content {
  background-color: #bebebe;
  box-shadow: inset -3px -3px #000000, inset 3px 3px #bebebe,
    inset -6px -6px #858585, inset 6px 6px #ebebeb;
  height: auto;
  max-height: 80%;
  width: 60%;
  padding: 9px;
}

.modal-container {
  padding: 6px;
  font-weight: 600;
  font-size: 1.2em;
}

.title-bar {
  width: calc(100% - 12px);
  height: 64px;
  background-image: linear-gradient(90deg, #1c32af, #417fe3);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 6px;
}

@media screen and (max-width: 850px) {
  .title-bar {
    height: 32px;
  }

  .modal-content {
    width: 100%;
  }
}
