---
import Layout from "../layouts/Layout.astro";
import MainWindow from "../layouts/MainWindow.astro";
import AboutMe from "../components/about-me.astro";
import TravelMap from "../components/travel-map.astro";
import Guestbook from "../components/guestbook.astro";
import FunStuff from "../components/fun-stuff.astro";
import { supabase } from "../lib/supabase";
import "../styles/index.css";

const errors = { name: "", message: "" };

if (Astro.request.method === "POST") {
  try {
    const msg = await Astro.request.formData();
    const entry_name = msg.get("name");
    const entry_message = msg.get("message");
    if (typeof entry_name !== "string" || entry_name.length < 1) {
      errors.name += "please enter your name!";
    }
    if (typeof entry_message !== "string" || entry_message.length < 1) {
      errors.message += "btw you forgot to put a message :p";
    }
    const hasErrors = Object.values(errors).some((err) => err);
    if (!hasErrors) {
      const { error } = await supabase
        .from("guestbook_entries")
        .insert({ name: entry_name, message: entry_message });
      if (error) {
        console.error(error);
      }
    }
  } catch (error) {
    if (error instanceof Error) {
      console.error(error.message);
    }
  }
}
---

<Layout>
  <div class="mobile-warning">
    <h1>sorry!</h1>
    <p>
      due to the nature of this site, i've made it available on desktop only :(
    </p>
    <p>
      you can still check out my main, mobile-friendly site at <a
        href="https://valen.zip"
        style="color: white;">https://valen.zip</a
      > though! :D
    </p>
  </div>
  <div class="warning">
    <h1>DISCLAIMER</h1>
    <p>
      this site is very poorly coded and only works on desktop, but afaik it
      does work!
    </p>
    <p>
      you can see the main, 100% confirmed fully working version of the site by
      clicking <a href="https://valen.zip" style="color: white;">here</a>
    </p>
    <p>
      click the button below to see my awesome site revamp that definitely
      didn't take me multiple hours
    </p>
    <p class="warning-btn">close</p>
  </div>
  <MainWindow
    opened={true}
    windowId="about-me-window"
    titleBarId="title-bar"
    class="about-me-window"
    winTitle="about me"
  >
    <AboutMe />
  </MainWindow>
  <MainWindow
    titleBarId="travel-map-title"
    class="travel-map-window"
    windowId="travel-map-window"
    opened={false}
    winTitle="travel map"
  >
    <TravelMap />
  </MainWindow>
  <MainWindow
    titleBarId="guestbook-title"
    class="guestbook-window"
    windowId="guestbook-window"
    opened={false}
    winTitle="guestbook"
  >
    <Guestbook server:defer />
  </MainWindow>
  <MainWindow
    titleBarId="fun-stuff-title"
    class="fun-stuff-window"
    windowId="fun-stuff-window"
    opened={false}
    winTitle="fun stuff"
  >
    <FunStuff server:defer />
  </MainWindow>
</Layout>
<script>
  document.querySelector(".warning-btn")!.addEventListener("click", () => {
    (document.querySelector(".warning") as HTMLElement).style.display = "none";
  });
  const allWindows = document.querySelectorAll(".main-window");
  const mapOpenedEvent = new CustomEvent("mapOpened");
  allWindows.forEach((window) => {
    window.addEventListener("mousedown", (e) => {
      allWindows.forEach((win) => {
        win.classList.remove("win-active");
      });
      window.classList.add("win-active");
    });
  });
  document.querySelector(".about-me-icon")!.addEventListener("dblclick", () => {
    allWindows.forEach((win) => {
      win.classList.remove("win-active");
    });
    document.getElementById("about-me-window")!.style =
      "position: absolute; display: flex;";

    document.getElementById("about-me-window")!.classList.add("win-active");
  });
  document
    .querySelector(".travel-map-icon")!
    .addEventListener("dblclick", () => {
      allWindows.forEach((win) => {
        win.classList.remove("win-active");
      });
      document.getElementById("travel-map-window")!.style =
        "position: absolute; display: flex;";
      document.getElementById("travel-map-window")!.classList.add("win-active");
      document.dispatchEvent(mapOpenedEvent);
    });
  document
    .querySelector(".guestbook-icon")!
    .addEventListener("dblclick", () => {
      allWindows.forEach((win) => {
        win.classList.remove("win-active");
      });
      document.getElementById("guestbook-window")!.style =
        "position: absolute; display: flex;";
      document.getElementById("guestbook-window")!.classList.add("win-active");
    });
  document
    .querySelector(".fun-stuff-icon")!
    .addEventListener("dblclick", () => {
      allWindows.forEach((win) => {
        win.classList.remove("win-active");
      });
      document.getElementById("fun-stuff-window")!.style =
        "position: absolute; display: flex;";
      document.getElementById("fun-stuff-window")!.classList.add("win-active");
    });
</script>
