---
import { Image } from "astro:assets";
import pfpImage from "../assets/pfp.jpeg";
---

<div class="container">
  <div class="left-side">
    <div class="introduction">
      <h1 class="intro-title">hey there! i'm valen</h1>
      <h2 class="intro-info">(he/him, 16 y/o from argentina)</h2>
    </div>
    <div class="interests">
      <h2 class="interests-title">here's some of the stuff i like doing:</h2>
      <ul class="interests-list">
        <li class="interest-item">
          play videogames (deltarune, sometimes splatoon but not much lately)
        </li>
        <li class="interest-item">
          listen to music (would name artists but my music taste changes daily
          lol)
        </li>
        <li class="interest-item">do projects! mainly hardware stuff now</li>
        <li class="interest-item">watch movies and tv shows</li>
        <li class="interest-item">hang out with friends</li>
        <li class="interest-item">think and overthink</li>
      </ul>
    </div>
  </div>
  <div class="right-side">
    <Image src={pfpImage} alt="valen's profile picture" class="pfp-img" />
    <div class="socials">
      <ul class="socials-list">
        <li class="socials-item gh-user">
          <a class="gh-profile-url" href="https://github.com/euvalennn/"
            >euvalennn</a
          >
        </li>
        <li class="socials-item slack-user">@valen at hack club</li>
        <li class="socials-item email-addr">
          <a
            href="mailto:hi@valen.zip"
            style="color: black; text-decoration: none;">hi@valen.zip</a
          >
        </li>
      </ul>
    </div>
  </div>
</div>
