---
import GuestbookMessage from "../components/GuestbookMessage.astro";
import { supabase } from "../lib/supabase.ts";
import "../styles/guestbook.css";

const { data } = await supabase.from("guestbook_entries").select();

const guestbook_entries = data!.reverse();
---

<div class="guestbook-container">
  <h1 class="guestbook-title">leave a message in my guestbook!</h1>
  <form method="post" class="guestbook-form" autocomplete="off">
    <label class="name-label">
      name:
      <input class="name-input" type="text" name="name" />
    </label>
    <label class="message-label">
      message:
      <input class="message-input" type="text" name="message" />
    </label>
    <button class="send-btn">send</button>
  </form>
  <div class="guestbook-entries">
    {
      guestbook_entries!.map((entry) => (
        <GuestbookMessage name={entry.name} message={entry.message} />
      ))
    }
  </div>
</div>
