---
import "../styles/layout.css";
import "@fontsource/ibm-plex-mono/400.css";
import "@fontsource/ibm-plex-mono/600.css";
import "@fontsource/ibm-plex-mono/700.css";
import CloseButton from "../assets/close-button.svg";
import MinimizeButton from "../assets/minimize-button.svg";
import WindowButton from "../assets/window-button.svg";
import CloseButtonSmall from "../assets/close-button-small.svg";
import MinimizeButtonSmall from "../assets/minimize-button-small.svg";
import WindowButtonSmall from "../assets/window-button-small.svg";
import { Image } from "astro:assets";
import startButton from "../assets/start-button.png";
import LocalTime from "../components/LocalTime.astro";
const currentPath = Astro.url.pathname;
let inAboutPage = false;
let inGuestbookPage = false;
let inTravelPage = false;
let inFunPage = false;
if (currentPath === "/") {
  inAboutPage = true;
  inGuestbookPage = false;
  inTravelPage = false;
  inFunPage = false;
} else if (currentPath === "/guestbook") {
  inAboutPage = false;
  inGuestbookPage = true;
  inTravelPage = false;
  inFunPage = false;
} else if (currentPath === "/travel-map") {
  inAboutPage = false;
  inGuestbookPage = false;
  inTravelPage = true;
  inFunPage = false;
} else if (currentPath === "/fun-stuff") {
  inAboutPage = false;
  inGuestbookPage = false;
  inTravelPage = false;
  inFunPage = true;
}
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <title>valen's site</title>
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
      integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
      crossorigin=""
    />
  </head>
  <body>
    <div class="main-window">
      <div class="title-bar">
        <h1 class="title">valen's site.exe</h1>
        <div class="title-bar-buttons">
          <div class="minimize-and-window">
            <MinimizeButton class="minimize-btn" />
            <MinimizeButtonSmall class="minimize-btn-small" />
            <WindowButton class="window-btn" />
            <WindowButtonSmall class="window-btn-small" />
          </div>
          <CloseButton class="close-btn" />
          <CloseButtonSmall class="close-btn-small" />
        </div>
      </div>
      <nav>
        <a
          href="/"
          class:list={["about-me-btn", "nav-btn", inAboutPage && "nav-active"]}
          >about me.html</a
        >
        <a
          href="/travel-map"
          class:list={[
            "travel-map-btn",
            "nav-btn",
            inTravelPage && "nav-active",
          ]}>travel map.html</a
        >
        <a
          href="/guestbook"
          class:list={[
            "guestbook-btn",
            "nav-btn",
            inGuestbookPage && "nav-active",
          ]}>guestbook.html</a
        >
        <a
          href="/fun-stuff"
          class:list={["fun-stuff-btn", "nav-btn", inFunPage && "nav-active"]}
          >fun stuff.html</a
        >
      </nav>
      <slot />
    </div>
    <div class="taskbar">
      <div class="startbutton">
        <Image src={startButton} alt="windows 98 start button" />
      </div>
      <LocalTime />
    </div>
  </body>
</html>
