---
import "../styles/layout.css";
import "@fontsource/ibm-plex-mono/400.css";
import "@fontsource/ibm-plex-mono/600.css";
import "@fontsource/ibm-plex-mono/700.css";
import CloseButton from "../assets/close-button.svg";
import MinimizeButton from "../assets/minimize-button.svg";
import WindowButton from "../assets/window-button.svg";
import CloseButtonSmall from "../assets/close-button-small.svg";
import MinimizeButtonSmall from "../assets/minimize-button-small.svg";
import WindowButtonSmall from "../assets/window-button-small.svg";
import { Image } from "astro:assets";
import startButton from "../assets/start-button.png";
import LocalTime from "../components/LocalTime.astro";
import { getLatestCommit } from "../lib/GetLatestCommit";
const latestCommit = await getLatestCommit();
const currentPath = Astro.url.pathname;
let inAboutPage = false;
let inGuestbookPage = false;
let inFunPage = false;
if (currentPath === "/") {
  inAboutPage = true;
  inGuestbookPage = false;
  inFunPage = false;
} else if (currentPath === "/guestbook") {
  inAboutPage = false;
  inGuestbookPage = true;
  inFunPage = false;
} else if (currentPath === "/fun-stuff") {
  inAboutPage = false;
  inGuestbookPage = false;
  inFunPage = true;
}
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta name="viewport" content="width=device-width" />
    <title>valen's site</title>
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
      integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
      crossorigin=""
    />
  </head>
  <body>
    <div id="start-menu-overlay"></div>
    <div class="main-window">
      <div class="title-bar">
        <h1 class="title">valen's site.exe</h1>
        <div class="title-bar-buttons">
          <div class="minimize-and-window">
            <MinimizeButton class="minimize-btn" />
            <MinimizeButtonSmall class="minimize-btn-small" />
            <WindowButton class="window-btn" />
            <WindowButtonSmall class="window-btn-small" />
          </div>
          <CloseButton class="close-btn" />
          <CloseButtonSmall class="close-btn-small" />
        </div>
      </div>
      <nav>
        <a
          href="/"
          class:list={["about-me-btn", "nav-btn", inAboutPage && "nav-active"]}
          >about me.html</a
        >
        <a href="/travel-map" class="travel-map-btn nav-btn">travel map.html</a>
        <a
          href="/guestbook"
          class:list={[
            "guestbook-btn",
            "nav-btn",
            inGuestbookPage && "nav-active",
          ]}>guestbook.html</a
        >
        <a
          href="/fun-stuff"
          class:list={["fun-stuff-btn", "nav-btn", inFunPage && "nav-active"]}
          >fun stuff.html</a
        >
      </nav>
      <slot />
    </div>
    <p class="new-site-text">
      if you're on desktop, you can visit a revamped version of my site by
      clicking
      <a href="https://preview.valen.zip" style="color: white;" target="_blank"
        >here!</a
      > (warning, it's a bit buggy 😭)
    </p>
    <div class="taskbar">
      <div id="start-btn" class="startbutton">
        <Image src={startButton} alt="windows 98 start button" />
      </div>
      <p class="commit-text">
        commit <a href={latestCommit.html_url} style="color: #333333;"
          >{latestCommit.hash}</a
        > on {latestCommit.date}
      </p>
      <LocalTime />
    </div>
    <div id="start-menu" class="start-menu" style="display: none;">
      <div class="title-container">
        <h1 class="start-title">
          valen<span style="font-weight: 400;">.zip</span>
        </h1>
      </div>
      <div class="menu-container" style="margin-left: 10px;">
        <h1 style="font-size: 1.5em; margin-bottom: 0;">
          88x31 buttons are fun!!
        </h1><p style="font-size: 1.1em; margin-top: 0;">
          send me an <a href="mailto:hi@valen.zip" style="color: black;"
            >email</a
          > if you want yours here :3
        </p>
        <div class="buttons">
          <div class="my-btns" style="margin-bottom: 10px;">
            <div class="btn-imgs">
              <a href="#"
                ><img
                  src="/button-bw.gif"
                  alt="valen's site's black and white 88x31 button"
                  id="button-bw"
                /></a
              >
              <a href="#"
                ><img
                  src="/button-win98.gif"
                  alt="valen's site's windows 98 themed 88x31 button"
                  id="button-win98"
                /></a
              >
            </div>
            <p
              id="copy-text"
              style="margin: 0; font-style: italic; font-size: 0.8em;"
            >
              click either of my buttons to copy them!
            </p>
          </div>
          <div class="more-btns" style="overflow: auto;">
            <a href="https://aconlin.com" target="_blank"
              ><img src="/88x31/acon.gif" alt="acon's button" /></a
            >
            <a href="https://vvqb.dev" target="_blank"
              ><img src="/88x31/vivi.gif" alt="vivi's button" /></a
            >
            <a href="https://prpl.wtf" target="_blank"
              ><img
                src="https://prpl.wtf/img/88x31/prpl_wtf.gif"
                alt="emma's button"
              /></a
            >
            <a href="https://gideon.sh" target="_blank"
              ><img
                src="https://gideon.sh/88x31.gif"
                alt="gideon's button"
              /></a
            >
            <a href="https://bomberfish.ca" target="_blank"
              ><img
                src="https://bomberfish.ca/button.gif"
                alt="bomberfish's button"
              /></a
            >
            <a href="https://codingcorner.dev" target="_blank"
              ><img
                src="https://www.codingcorner.dev/buttons/codingcorner.png"
                alt="kyle's button"
              /></a
            >
            <a href="https://os.slitrostudio.me" target="_blank"
              ><img
                src="https://site.slitrostudio.me/Slitro2.png"
                alt="josh's button"
                width="88px"
                height="31px"
              /></a
            >
            <a
              href="https://dipa-cotton.github.io/personalsite/"
              target="_blank"
              ><img
                src="/88x31/dipa.png"
                alt="dipa's button"
                width="88px"
                height="31px"
              /></a
            >
            <a href="https://pkindustry.org" target="_blank"
              ><img src="/88x31/pk_industries.png" alt="parker's button" /></a
            >
            <a href="https://packjack.dev" target="_blank"
              ><img
                src="https://packjack.dev/8831.png"
                alt="jackson's button"
              /></a
            >
            <a href="https://froppii.dev" target="_blank"
              ><img
                src="https://froppii.dev/button.gif"
                alt="froppii's button"
              /></a
            >
            <a href="https://cutiesin.tech" target="_blank"
              ><img
                src="https://cutiesin.tech/88x31/junya.gif"
                alt="junya's button"
              /></a
            >
            <pagering-link theme="light" style="margin-top: 8px"
            ></pagering-link>
          </div>
        </div>
      </div>
    </div>
    <script src="https://pagering.gideon.sh/embed.js" defer></script>
  </body>
  <script>
    document.getElementById("button-bw")!.addEventListener("click", () => {
      const copyText = document.getElementById("copy-text");
      const code =
        '<a href="https://www.valen.zip"><img src="https://www.valen.zip/button-bw.gif" alt="valen\'s site\'s black and white 88x31 button" /></a>';
      try {
        navigator.clipboard.writeText(code);
        copyText!.textContent = "copied!";
        setTimeout(() => {
          copyText!.textContent = "click either of my buttons to copy them!";
        }, 1000);
      } catch (err) {
        console.error("failed to copy");
      }
    });
    document.getElementById("button-win98")!.addEventListener("click", () => {
      const copyText = document.getElementById("copy-text");
      const code =
        '<a href="https://www.valen.zip"><img src="https://www.valen.zip/button-win98.gif" alt="valen\'s site\'s windows 98 themed 88x31 button" /></a>';
      try {
        navigator.clipboard.writeText(code);
        copyText!.textContent = "copied!";
        setTimeout(() => {
          copyText!.textContent = "click either of my buttons to copy them!";
        }, 1000);
      } catch (err) {
        console.error("failed to copy");
      }
    });
    document.getElementById("start-btn")!.addEventListener("click", () => {
      const startMenu = document.getElementById("start-menu");
      const startBtn = document.getElementById("start-btn");
      const startMenuOverlay = document.getElementById("start-menu-overlay");
      if (startMenu!.style.display === "none") {
        startMenu!.style.display = "flex";
        startBtn!.classList.add("active");
        startMenuOverlay!.classList.add("overlay-active");
      } else {
        startMenu!.style.display = "none";
        startBtn!.classList.remove("active");
        startMenuOverlay!.classList.remove("overlay-active");
      }
    });
  </script>
</html>
